.nav-top {
  display: flex;
  background: var(--paper-background);
  width: 100%;

  .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    width: 100%;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1.5rem;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    li {
      margin: 0;
      padding: 0;
      font-weight: bold;

      &.filler {
        flex: 1;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    form {
      input[type="search"] {
        border-radius: 4px;
        border: 1px solid var(--input-border);
        padding: 4px 0 4px 8px;
        color: var(--input-color);
        background: var(--input-background);
        height: 100%;

        &:focus-within {
          outline: none;
          border-color: var(--input-focus);
          box-shadow: 0 0 10px var(--input-focus);
        }
      }
    }
  }
}