@charset "utf-8";

@import "normalize";

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  color: var(--color);
}

body {
  text-rendering: optimizeLegibility;
  font-family: system-ui, "Noto Sans", "Roboto", Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.75;
  font-weight: 400;
  /* letter-spacing: 0.2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import "constants";
@import "colors";
@import "navigation";
@import "content";
