<div class="nav-top">
    <nav class="nav-content" role="navigation">
        <ul>
            <li>
                <a href="home"> Home </a>
            </li>
            <li>
                <form action="/search" method="GET">
                    <input id="page-search-input" type="search" placeholder="Search..." value="">
                </form>
            </li>
            <li class="filler"></li>
            <li>
                <color-scheme-picker></color-theme-picker>
            </li>
        </ul>
    </nav>
</div>