<div class="nav-top">
    <nav class="nav-content" role="navigation">
        <ul>
            <li>
                <a href="/"> Home </a>
            </li>
            <li>
                <div class="search-container">
                    <input id="search" type="search" placeholder="Search..." value="">
                    <div class="search-results">
                        <ul class="search-results__items"></ul>
                    </div>
                </div>
            </li>
            <li class="filler"></li>
            <li>
                <color-scheme-picker></color-theme-picker>
            </li>
        </ul>
    </nav>
</div>